<footer class="footer-container">
  <div class="footer-list">
    <div class="footer-logo">
      <div id="footer-logo-content">
        <button mat-icon-button [routerLink]="'home'">
          <fa-icon [icon]="faAtom" size="3x"></fa-icon>
        </button>
        <span [routerLink]="'home'">Marvel Database</span>
      </div>
    </div>
    <div class="footer-copyright">
      <span>Create by Ronaldo Marchant</span>
      <div class="media-icons">
        Social Media: <a href="https://www.linkedin.com/in/ronaldo-marchant-avalos/en/" target="_blank">
        <button mat-icon-button>
          <fa-icon [icon]="faLinkedinIn" size="lg"></fa-icon>
        </button>
      </a>
      </div>
    </div>
  </div>
</footer>
