header#character-header
  margin: 30px 3rem

main.container
  section#quick-access
    display: flex
    justify-content: space-evenly
    padding: 0 15px 30px
    flex-wrap: wrap

    mat-card.qa-sections-card
      max-width: 320px
      margin: 15px

      img
        height: 352px

      mat-card-header
        place-content: center

      mat-card-actions
        display: flex
        flex-wrap: wrap-reverse
        justify-content: center
        min-height: 65px
        button.related-story-btn
          margin: 1%
