/* You can add global styles to this file, and also import other style files */

// Global Styles
.container
  width: 100%
  margin-right: auto
  margin-left: auto

.media-icons
  a
    text-decoration: none

mat-paginator
  font-size: 16px !important
